#formRow {
    justify-content: center;
    align-items: center;
    padding: 100px 140px;
}

#formBlock {
    background-color: rgb(255,255,255,0.9);
    padding: 60px 50px;
    border-radius: 20px;
}

.my-button {
    margin-top: 20px;
    background-color: #2e754c;
    border-color: #2e754c;
    padding: 10px 20px;
}